/* src/components/Buttons.css */
.media-switch {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3ebcee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.media-switch-primary{
  background-color: #dd370d;
  color: white;
}

.media-switch-secondary{
    background-color: #3ab6f0;
  color: white;
}